APP_PORT=8080
APP_ORIGIN=*

REDIS_URL=redis://host.docker.internal:6379

DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=ledernierverre
DB_USER=ledernierverre
DB_PASSWORD=ledernierverre_password
DB_ROOT_PASSWORD=root_password